<div class='input'>
    <label  class='input__label' for={{inputId}}>{{label}}</label>
    <input data-events="focus,blur" type={{type}} class='input__field' placeholder={{placeholder}} id={{inputId}} name={{name}}>
</div>