<form class='auth-form'>
    <h1 class='auth-form__title'>Регистрация</h1>
    <div class='auth-form__fields'>
        {{{Email}}}
        {{{Name}}}
        {{{Surname}}}
        {{{Phone}}}
        {{{Password}}}
        {{{RepeatPassword}}}
    </div>
    {{{ ButtonBlock }}}
    {{{AlterButton}}}
</form>