<form class='auth-form'>
    <h1 class='auth-form__title'>Регистрация</h1>
    <div class='auth-form__fields'>
        {{{Email}}}
        {{{Name}}}
        {{{Surname}}}
        {{{Phone}}}
        {{{Password}}}
        {{{RepeatPassword}}}
    </div>
    <a href='/' class='auth-form__link'> {{{ ButtonBlock }}}</a>
    <a href='/auth' class='auth-form__alternative-button auth-form__alternative-button--underline'>Есть аккаунт?</a>
</form>